{% load static %}
        <!-- Footer -->
        <footer id="page-footer" class="bg-dark text-white">
            <div class="content py-4">
                <!-- Footer Navigation -->
                <div class="row items-push font-size-sm border-bottom pt-4">
                    <div class="col-6 col-md-4">
                        <h3 class="text-white">Useful Links</h3>
                        <ul class="list list-simple-mini">
                            <li>
                                <a class="font-w600 text-white" href="https://github.com/SazidAhmed">
                                    <i class="fa fa-fw fa-link text-primary-lighter mr-1"></i> Github
                                </a>
                            </li>
                            <li>
                                <a class="font-w600 text-white" href="https://www.youtube.com/channel/UCpXDr4FQzno4c8wO47Zu2Ng">
                                    <i class="fa fa-fw fa-link text-primary-lighter mr-1"></i> Youtube
                                </a>
                            </li>
                            <li>
                                <a class="font-w600 text-white" href="https://discord.com/invite/bJ9bvDs">
                                    <i class="fa fa-fw fa-link text-primary-lighter mr-1"></i> Discord
                                </a>
                            </li>
                            <li>
                                <a class="font-w600 text-white" href="https://www.google.com/">
                                    <i class="fa fa-fw fa-link text-primary-lighter mr-1"></i>Google
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-white">Follow Us</h3>
                        <ul class="list list-simple-mini ">
                            <li>
                                <a class="font-w600 text-white" href="https://www.facebook.com/sazidahmed.official">
                                    <i class="fa fa-fw fa-link text-primary-lighter mr-1"></i>Facebook
                                </a>
                            </li>
                            <li>
                                <a class="font-w600 text-white" href="https://twitter.com/sazid_bd">
                                    <i class="fa fa-fw fa-link text-primary-lighter mr-1"></i>Twitter
                                </a>
                            </li>
                            <li>
                                <a class="font-w600 text-white" href="https://www.instagram.com/sazid_ahmed/">
                                    <i class="fa fa-fw fa-link text-primary-lighter mr-1"></i>Instagram
                                </a>
                            </li>
                            <li>
                                <a class="font-w600 text-white" href="https://www.linkedin.com/in/sazidahmed-codeman/">
                                    <i class="fa fa-fw fa-link text-primary-lighter mr-1"></i>Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <h3 class="text-white">Contact Us</h3>
                        <div class="font-size-sm push">
                            House: 19, Road: 02, Sector: 7, Uttara,<br>
                            Dhaka, Bangladesh<br>
                            <p>Email: sazidahmed.official@gmail.com<br>
                                Mobile: +8801680800810
                            </p><br>

                        </div>
                    </div>
                </div>
                <!-- END Footer Navigation -->

                <!-- Footer Copyright -->
                <div class="row font-size-sm pt-4">
                    <div class="col-sm-6 order-sm-2 py-1 text-center text-sm-right">
                        Developed <i class="fa fa-heart text-danger"></i> by <a class="font-w600 text-white" href="#"
                            target="_blank">Sazid Ahmed</a>
                    </div>
                    <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-left">
                        <a class="font-w600 text-white" href="#" target="_blank">Temp Manager</a> &copy; <span
                            data-toggle="year-copy"></span>
                    </div>
                </div>
                <!-- END Footer Copyright -->
            </div>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Page Container -->

    <!-- OneUI JS -->
    <script src="{% static 'assets/js/oneui.core.min.js'%}"></script>
    <script src="{% static 'assets/js/oneui.app.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="https://unpkg.com/vue@next"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>