{% extends 'adminpanel/base.html'%}
{% block content %}
<div id="">
<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">
                Project : {{ project.title }} 
                <small class="font-size-base font-w400 text-muted">
                    <a class="badge badge-pill badge-success"><i class="fa fa-fw fa-check-circle mr-1"></i>Active</a>
                </small>
            </h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="link-fx" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="link-fx" href="{% url 'project:projectList' %}">Project List</a>
                    </li>
                    <li class="breadcrumb-item" href="">{{ project.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% include 'website/alerts.html' %}
{% if form.errors %}
    <div class="alert alert-danger text-center" role="alert">
        {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.errors %}{{ field.label }}:{{ field.errors|striptags }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<!-- Page Content -->
<div class="content" >
    {% if team.plan.max_tasks_per_project > project.tasks.count %}
    <a href="" data-toggle="modal" data-target="#CreateModal" class="btn btn-block btn-success"><i class="fa fa-fw fa-plus-circle mr-1 font-size-base"></i>Add New Task</a><br>
    <!-- Projects -->
    {% else %}
    <div class="alert alert-info text-center" role="alert">
        <h3>This Team has reached the limit of tasks for this project.</h3>
        {% if team.created_by == request.user %}
            <a href="{% url 'team:plans' %}" class="btn btn-block btn-success">Upgrade Plan</a>
        {% else %}
            <p>Contact your team leader . . .</p>
        {% endif %}
    </div>
    {% endif %}

    {% if not tasks_todo and not tasks_done %}
        <div class="alert alert-info text-center" role="alert">No Tasks Yet . . . </div>
    {% endif %}

    <!-- tasks done -->
    {% if tasks_todo %}
    <h1>Task Todo</h1>
    <div class="row row-deck">
        {% for task in tasks_todo %}
        <div class="col-sm-6 col-md-4 col-l-3 col-xl-3">
            <div class="block block-rounded d-flex flex-column">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="font-size-h2 font-w700">{{ forloop.counter }}</dt>
                        <dd class="text-muted mb-0">Task: {{ task.title }}</dd>
                        <dd class="text-muted mb-0">Registered Time: {{ task.registered_time }} </dd>
                    </dl>
                    <div class="item item-rounded bg-body"><a href="{% url 'project:taskDetails' project.id task.id %}" class="card-footer-item">
                        <i class="fa fa-eye font-size-h3 text-success"></i></a>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
                    {% if project.created_by == request.user %}
                        <a class="font-w500 align-items-center text-primary btn btn-link" data-toggle="modal" data-target="#editModal{{task.id}}">
                            Edit
                            <i class="fa fa-edit ml-1 opacity-50 font-size-base text-primary"></i>
                        </a>
                        
                        <a class="font-w500 align-items-center text-danger btn btn-link" data-toggle="modal" data-target="#deleteModal{{task.id}}">
                            Delete
                            <i class="fa fa-trash-alt ml-1 opacity-50 font-size-base text-danger"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
    {% endif %}
  
    <!-- tasks done -->
    {% if tasks_done %}
    <h1>Task Done</h1>
    <div class="row row-deck">
        {% for task in tasks_done %}
        <div class="col-sm-6 col-md-4 col-l-3 col-xl-3">
            <div class="block block-rounded d-flex flex-column">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="font-size-h2 font-w700">{{ forloop.counter }}</dt>
                        <dd class="text-muted mb-0">Tasks: {{ task.title }} {{task.get_status_display}}</dd>
                        <dd class="text-muted mb-0">Registered Time: {{ task.registered_time }} </dd>
                    </dl>
                    <div class="item item-rounded bg-body"><a href="{% url 'project:taskDetails' project.id task.id %}" class="card-footer-item">
                        <i class="fa fa-eye font-size-h3 text-success"></i></a>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
                    {% if project.created_by == request.user %}
                        <a class="font-w500 align-items-center text-primary btn btn-link" data-toggle="modal" data-target="#editModal{{task.id}}">
                            Edit
                            <i class="fa fa-edit ml-1 opacity-50 font-size-base text-primary"></i>
                        </a>
                        
                        <a class="font-w500 align-items-center text-danger btn btn-link" data-toggle="modal" data-target="#deleteModal{{task.id}}">
                            Delete
                            <i class="fa fa-trash-alt ml-1 opacity-50 font-size-base text-danger"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

<!-- Create modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="modal-block-slideup" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideup" role="document">
        <form class="mb-5" method="POST" action="{% url 'project:taskList' project.id %}" @submit="validateForm">
            {% csrf_token %}
            <div class="modal-content">
                <div class="block block-rounded block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">New Task</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content font-size-sm">
                        <div class="block-content font-size-sm">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control is-valid"
                                name="title" v-model='title' placeholder="Task Title" required>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full text-right border-top">
                        <button type="button" class="btn btn-danger btn-sm btn-square mr-1" data-dismiss="modal">
                            <i class="fa fa-fw fa-times-circle mr-1 font-size-base"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-success btn-sm btn-square"> 
                            <i class="fa fa-fw fa-check-circle mr-1 font-size-base"></i>Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

 <!-- tasks Todo -->
{% for task in tasks_todo %}
<!-- Edit modal -->
<div class="modal fade" id="editModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-block-slideup" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideup" role="document">
        <form class="mb-5" method="post" action="{% url 'project:taskEdit' project.id task.id %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="block block-rounded block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">Edit Here</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content font-size-sm">
                        <div class="block-content font-size-sm">
                            <div class="form-group">
                                <input type="text" class="form-control is-valid"
                                name="title" value="{{task.title}}" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control is-valid" name="status" id="id_status">
                                  <option value="">Select here</option>
                                  <option value="todo"{% if task.status == 'todo' %} selected {% endif %}>Todo</option>
                                  <option value="done"{% if task.status == 'done' %} selected {% endif %}>Done</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full text-right border-top">
                        <button type="button" class="btn btn-danger btn-sm btn-square mr-1" data-dismiss="modal">
                            <i class="fa fa-fw fa-times-circle mr-1 font-size-base"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-success btn-sm btn-square"> 
                            <i class="fa fa-fw fa-check-circle mr-1 font-size-base"></i>Update
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Delete modal -->
<div class="modal" id="deleteModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-block-small" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <form class="mb-5" method="post" action="{% url 'project:taskDelete' project.id task.id %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="block block-rounded block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">Warning !!!</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content font-size-sm">
                        <h3 class="text-center">Project : {{ project.title }}</h3>
                        <h5 class="text-center">Confirm To Delete.</h5>
                    </div>
                    <div class="block-content block-content-full text-right border-top">
                        <button type="button" class="btn btn-danger btn-sm btn-square mr-1" data-dismiss="modal">
                            <i class="fa fa-fw fa-times-circle mr-1 font-size-base"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-success btn-sm btn-square"> 
                            <i class="fa fa-fw fa-check-circle mr-1 font-size-base"></i>Confirm
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endfor %}

 <!-- tasks done -->
 {% for task in tasks_done %}
 <!-- Edit modal -->
 <div class="modal fade" id="editModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-block-slideup" style="display: none;" aria-hidden="true">
     <div class="modal-dialog modal-dialog-slideup" role="document">
         <form class="mb-5" method="post" action="{% url 'project:taskEdit' project.id task.id %}">
             {% csrf_token %}
             <div class="modal-content">
                 <div class="block block-rounded block-themed block-transparent mb-0">
                     <div class="block-header bg-primary-dark">
                         <h3 class="block-title">Edit Here</h3>
                         <div class="block-options">
                             <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                 <i class="fa fa-fw fa-times"></i>
                             </button>
                         </div>
                     </div>
                     <div class="block-content font-size-sm">
                         <div class="block-content font-size-sm">
                             <div class="form-group">
                                 <input type="text" class="form-control is-valid"
                                 name="title" value="{{task.title}}" placeholder="Title">
                             </div>
                             <div class="form-group">
                                 <label>Status</label>
                                 <select class="form-control is-valid" name="status" id="id_status">
                                   <option value="">Select here</option>
                                   <option value="todo"{% if task.status == 'todo' %} selected {% endif %}>Todo</option>
                                   <option value="done"{% if task.status == 'done' %} selected {% endif %}>Done</option>
                                 </select>
                             </div>
                         </div>
                     </div>
                     <div class="block-content block-content-full text-right border-top">
                         <button type="button" class="btn btn-danger btn-sm btn-square mr-1" data-dismiss="modal">
                             <i class="fa fa-fw fa-times-circle mr-1 font-size-base"></i>Cancel
                         </button>
                         <button type="submit" class="btn btn-success btn-sm btn-square"> 
                             <i class="fa fa-fw fa-check-circle mr-1 font-size-base"></i>Update
                         </button>
                     </div>
                 </div>
             </div>
         </form>
     </div>
 </div>
 <!-- Delete modal -->
 <div class="modal" id="deleteModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-block-small" style="display: none;" aria-hidden="true">
     <div class="modal-dialog modal-sm" role="document">
         <form class="mb-5" method="post" action="{% url 'project:taskDelete' project.id task.id %}">
             {% csrf_token %}
             <div class="modal-content">
                 <div class="block block-rounded block-themed block-transparent mb-0">
                     <div class="block-header bg-primary-dark">
                         <h3 class="block-title">Warning !!!</h3>
                         <div class="block-options">
                             <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                 <i class="fa fa-fw fa-times"></i>
                             </button>
                         </div>
                     </div>
                     <div class="block-content font-size-sm">
                         <h3 class="text-center">Project : {{ project.title }}</h3>
                         <h5 class="text-center">Confirm To Delete.</h5>
                     </div>
                     <div class="block-content block-content-full text-right border-top">
                         <button type="button" class="btn btn-danger btn-sm btn-square mr-1" data-dismiss="modal">
                             <i class="fa fa-fw fa-times-circle mr-1 font-size-base"></i>Cancel
                         </button>
                         <button type="submit" class="btn btn-success btn-sm btn-square"> 
                             <i class="fa fa-fw fa-check-circle mr-1 font-size-base"></i>Confirm
                         </button>
                     </div>
                 </div>
             </div>
         </form>
     </div>
 </div>
 {% endfor %}
 
 
<!-- END Page Content -->
</div>
{% endblock %}


{% block scripts %}

{% endblock %}