{% extends 'adminpanel/base.html'%}
{% block content %}
<div id="track-entry-app">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-sm-fill h3 my-2">
                    Track Entry : 
                    <small class="font-size-base font-w400 text-muted">
                        <a class="badge badge-pill badge-success"><i class="fa fa-fw fa-stopwatch mr-1"></i></a>
                    </small>
                </h1>
                <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-alt">
                        <li class="breadcrumb-item" aria-current="page">
                            <a class="link-fx" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item" href="{% url 'project:projectList' %}">Project List</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    {% include 'website/alerts.html' %}
    {% if form.errors %}
        <div class="alert alert-danger text-center" role="alert">
            {{ form.non_field_errors }}
                {% for field in form %}
                    {% if field.errors %}{{ field.label }}:{{ field.errors|striptags }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <!-- Page Content -->
    <div class="content" >
        <!-- Form -->
        <div class="row">
            <div class="col-lg-7">
                <div class="block block-rounded">
                    <div class="block-content block-content-full">
                        <h3 class="text-center">Track Entry</h3>
                        <form class="mb-5" method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-12">
                                    <label>Project</label>
                                    <select class="form-control is-valid" name="project" v-model="project" v-on:change="getTasks()">
                                    <option value="">Choose project</option>
                                    {% for project in projects %}
                                        <option value="{{ project.id }}">{{ project.title }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-12 col-md-12">
                                    <label>Task</label>
                                    <select class="form-control is-valid" name="task" v-model="task" >
                                    <option v-for="task in tasks" v-bind:key="task.id" :value="task.id">[[ task.title ]]</option>
                                    </select>
                                </div> 
                                <div class="form-group col-sm-6 col-md-6">
                                    <label>Hours</label>
                                    <select class="form-control is-valid" name="hours">
                                        <option value="0"{% if hours == 0 %} selected{% endif %}>0h</option>
                                        {% for i in "x"|rjust:"10" %}
                                            <option value="{{ forloop.counter }}"{% if hours == forloop.counter %} selected{% endif %}>{{ forloop.counter }}h</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label>Minutes</label>
                                    <select class="form-control is-valid" name="minutes">
                                        <option value="0"{% if minutes == 0 %} selected{% endif %}>0m</option>
                                        {% for i in "x"|rjust:"59" %}
                                            <option value="{{ forloop.counter }}"{% if minutes == forloop.counter %} selected{% endif %}>{{ forloop.counter }}m</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-12 col-md-12">
                                    <label>Date</label>
                                    <input type="date"  id="id_date" class="form-control is-valid" name="date" value="{{ entry.created_at|date:'Y-m-d' }}" placeholder="yyyy-mm-dd">
                                </div>
                                <div class="form-group col-sm-12 col-md-12">
                                    <button type="submit" class="btn btn-block btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
            
            </div>
        </div>
    </div>
    <!-- END Page Content -->
</div>
{% endblock %}

{% block scripts %}
<script>
    const TrackEntryApp = {
        data() {
            return {
                tasks: [
                    {'id': '', 'title': 'Select project first'}
                ],
                project: '',
                task: ''
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            getTasks() {
                if (this.project !== '') {
                    console.log(this.project)
                    fetch('/adminpanel/projects/api/get_tasks/?project_id=' + this.project, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then((response) => {
                        return response.json()
                    })
                    .then((result) => {
                        this.tasks = result.tasks
                        this.tasks.unshift({'id': '', 'title': 'Select task'})
                    })
                } else {
                    this.tasks = [{'id': '', 'title': 'Select project first'}]
                    this.task = ''
                }
            },
        }
    }

    Vue.createApp(TrackEntryApp).mount('#track-entry-app')
</script>
{% endblock %}

