{% extends 'adminpanel/base.html'%}
{% block content %}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">
               Add New Team <small class="font-size-base font-w400 text-muted">
                    <a href="#"></a>
                </small>
            </h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="link-fx" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="link-fx" href="{% url 'dashboard' %}">{{ team.title }}</a>
                    </li>
                    <li class="breadcrumb-item" href="{% url 'team:teamAdd' %}">Invite member</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% include 'website/alerts.html' %}
{% if form.errors %}
    <div class="alert alert-danger text-center" role="alert">
        {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.errors %}{{ field.label }}:{{ field.errors|striptags }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<!-- Page Content -->
<div class="content" id="invite-app">
    <div class="row">
        <div class="col-lg-12">
            {% if team.plan.max_members_per_team > team.members.count %}
            <div class="block block-rounded">
                <div class="block-content block-content-full">
                    <h3 class="text-center">Invite Member</h3>
                    <form class="mb-5" method="post" action="." @submit="validateForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg form-control-alt"
                                id="id_email" name="email" v-model="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-success">Send Invitation</button>
                        </div>
                    </form>
                </div>
                <div class="alert alert-danger text-left" role="alert" v-if="errors.length">
                    <ul v-for="error in errors">
                        [[ error ]]
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="alert alert-info text-center" role="alert">
                <h3>This Team has reached the limit of projects.</h3>
                {% if team.created_by == request.user %}
                    <a href="{% url 'team:plans' %}" class="btn btn-block btn-success">Upgrade Plan</a>
                {% else %}
                    <p>Contact your team leader . . .</p>
                {% endif %}
            </div>
            {% endif %}
            
        </div>
    </div>
</div>
<!-- END Page Content -->
{% endblock %}


{% block scripts %}
<script>
    const InviteApp = {
        data() {
            return {
                email: '',
                errors: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                if (this.validateEmail(this.email)) {
                    return true
                }

                this.errors = ['The e-mail is not valid']

                e.preventDefault()

                return false
            },
            validateEmail(email) {
                if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)) {
                    return true
                }

                return false
            }
        }
    }

    Vue.createApp(InviteApp).mount('#invite-app')
</script>
{% endblock %}