{% extends 'adminpanel/base.html'%}
{% block content %}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">
                Settings <small class="font-size-base font-w400 text-muted">
                    <a href="#"></a>
                </small>
            </h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="link-fx" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">Profile</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% include 'website/alerts.html' %}
{% if form.errors %}
    <div class="alert alert-danger text-center" role="alert">
        {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.errors %}{{ field.label }}:{{ field.errors|striptags }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-lg-7">
            <div class="block block-rounded">
                <div class="block-content block-content-full">
                    <h3 class="text-center">Profile Details</h3>
                    <div class="row">
                        <div class="col-lg-5 mt-3">
                            <img src="{{ request.user.userprofile.get_avatar }}" alt="No Image Found" width="150" height="160">
                        </div>
                        <div class="col-lg-7 mt-3">
                            <h5>First Name : {{ request.user.first_name }}</h5>
                            <h5>Last Name : {{ request.user.last_name }}</h5>
                            <h5>Username : {{ request.user.username }}</h5>
                            <h5>Email : {{ request.user.email }}</h5>
                        </div>
                    </div>
                    <br><br>
                </div>
                <a href="{% url 'profile_settings' %}" class="btn btn-block btn-success">Profile Settings</a>
            </div>
        </div>
        <div class="col-lg-5">
            <div  class="block block-rounded">
                {% if invitations %}
                <div class="block-content block-content-full">
                    <h3 class="text-center">Team Invitations</h3>
                    <div class="row">
                        {% for invitation in invitations %}
                            <div class="col-lg-6"><h5>TEAM : {{invitation.team.title}}</h5></div>
                            <div class="col-lg-6"><a href="{% url 'team:accept_invitation' %}" class="btn btn-sm btn-success"><i class="fa fa-fw fa-check-circle mr-1 font-size-base"></i>Accept</a></div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- END Page Content -->
{% endblock %}