{% extends 'adminpanel/base.html'%}
{% block content %}
<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">
               Add New Team <small class="font-size-base font-w400 text-muted">
                    <a href="#"></a>
                </small>
            </h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="link-fx" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item" href="">Plans</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

    <div class="content" id="plans-app">
        <div class="row">
            <div class="col-md-6 col-xl-3 js-appear-enabled animated fadeInUp" data-toggle="appear" data-offset="50" data-class="animated fadeInUp">
                <!-- Developer Plan -->
                <a class="block block-rounded block-link-shadow block-themed block-fx-shadow text-center">
                    <div class="block-header">
                        <h3 class="block-title">Free</h3>
                    </div>
                    <div class="block-content bg-body-light">
                        <div class="py-2">
                            <p class="h1 font-w700 mb-2">$0</p>
                            <p class="h6 text-muted">per month</p>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="font-size-sm py-2">
                            <p>
                                <strong>1</strong> Project
                            </p>
                            <p>
                                <strong>5</strong> Members
                            </p>
                            <p>
                                <strong>10</strong> Tasks
                            </p>
                        </div>
                    </div>
                    <div class="block-content block-content-full bg-body-light"></div>
                </a>
                <!-- END Developer Plan -->
            </div>
            <div class="col-md-6 col-xl-3 js-appear-enabled animated fadeInUp" data-toggle="appear" data-offset="50" data-timeout="200" data-class="animated fadeInUp">
                <!-- Startup Plan -->
                    <div class="block block-rounded block-link-shadow block-themed block-fx-shadow text-center">
                        <div class="block-header">
                            <h3 class="block-title">Basic</h3>
                        </div>
                        <div class="block-content bg-body-light">
                            <div class="py-2">
                                <p class="h1 font-w700 mb-2">$5</p>
                                <p class="h6 text-muted">per month</p>
                            </div>
                        </div>
                        <div class="block-content">
                            <div class="font-size-sm py-2">
                                <p>
                                    <strong>5</strong> Project
                                </p>
                                <p>
                                    <strong>10</strong> Members
                                </p>
                                <p>
                                    <strong>30</strong> Tasks Per Project
                                </p>
                            </div>
                        </div>
                        <div class="block-content block-content-full bg-body-light">
                            {% if team.plan.title == 'Basic' %}
                            <sapn href="?cancel_plan=true"  class="btn btn-danger px-4">Cancel</span>
                            {% else %}
                            <span @click="subscribe('basic')"  class="btn btn-primary px-4">Start</span>
                            {% endif %}
                        </div>
                    </div>
                
                <!-- END Startup Plan -->
            </div>
            <div class="col-md-6 col-xl-3 js-appear-enabled animated fadeInUp" data-toggle="appear" data-offset="50" data-timeout="200" data-class="animated fadeInUp">
                <!-- Startup Plan -->
                <div class="block block-rounded block-link-shadow block-themed block-fx-shadow text-center">
                    <div class="block-header">
                        <h3 class="block-title">Pro</h3>
                    </div>
                    <div class="block-content bg-body-light">
                        <div class="py-2">
                            <p class="h1 font-w700 mb-2">$10</p>
                            <p class="h6 text-muted">per month</p>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="font-size-sm py-2">
                            <p>
                                <strong>10</strong> Project
                            </p>
                            <p>
                                <strong>20</strong> Members
                            </p>
                            <p>
                                <strong>100</strong> Tasks Per Project
                            </p>
                        </div>
                    </div>
                    <div class="block-content block-content-full bg-body-light">
                        {% if team.plan.title == 'Pro' %}
                        <sapn href="?cancel_plan=true"  class="btn btn-danger px-4">Cancel</span>
                        {% else %}
                        <span @click="subscribe('pro')"  class="btn btn-primary px-4">Start</span>
                        {% endif %}
                    </div>
                </div>
                
                <!-- END Startup Plan -->
            </div>
            <div class="col-md-6 col-xl-3 js-appear-enabled animated fadeInUp" data-toggle="appear" data-offset="50" data-timeout="200" data-class="animated fadeInUp">
                <!-- Startup Plan -->
                <div class="block block-rounded block-link-shadow block-themed block-fx-shadow text-center">
                    <div class="block-header">
                        <h3 class="block-title">Ultimate</h3>
                    </div>
                    <div class="block-content bg-body-light">
                        <div class="py-2">
                            <p class="h1 font-w700 mb-2">$?</p>
                            <p class="h6 text-muted">per month</p>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="font-size-sm py-2">
                            <p>
                                <strong>Need More</strong> Projects?
                            </p>
                            <p>
                                <strong>Need More</strong> Members?
                            </p>
                            <p>
                                <strong>Need More</strong> Tasks?
                            </p>
                        </div>
                    </div>
                    <div class="block-content block-content-full bg-body-light">
                        {% if team.plan.title == 'Basic' %}
                        <sapn href="?cancel_plan=true"  class="btn btn-danger px-4">Cancel</span>
                        {% else %}
                        <span @click="subscribe('contact')"  class="btn btn-primary px-4">Contact Us</span>
                        {% endif %}
                    </div>
                </div>
                
                <!-- END Startup Plan -->
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const PlansApp = {
            data() {
                return {
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                subscribe(plan) {
                    console.log('Subscribe:', plan);

                    
                }
            }
        }

        Vue.createApp(PlansApp).mount('#plans-app')
    </script>
{% endblock %}