
{% extends 'website/base.html'%}
{% block content %}

<div class="hero-static d-flex align-items-center">
    <div class="w-100">
        <!-- Sign In Section -->
        <div class="bg-white">
            <div class="content content-full">
                <div class="row justify-content-center">
                    {% if validlink %}
                    <div class="col-md-8 col-lg-6 col-xl-4 py-4">
                        <!-- Header -->
                        <div class="text-center">
                            <p class="mb-2">
                                <i class="fa fa-2x fa-circle-notch text-primary"></i>
                            </p>
                            <h1 class="h4 mb-1">
                                Recover Password
                            </h1>
                            <h2 class="h6 font-w400 text-muted mb-3">
                                Enter New Password Here
                            </h2>
                        </div>
                        <!-- END Header -->
                        <form method="post" action="">
                            <div class="py-3">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{form.as_p}}
							    </div>
                            </div>
                            <div class="form-group row justify-content-center mb-0">
                                <div class="col-md-6 col-xl-5">
                                    <button type="submit" class="btn btn-block btn-primary">
                                      <i class="fa fa-fw fa-sign-in-alt mr-1"></i> Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- END Sign In Form -->
                    </div>
                    {% else %}
                    <div class="col-md-8 col-lg-6 col-xl-4 py-4">
                        <!-- Header -->
                        <div class="text-center">
                            <p class="mb-2">
                                <i class="fa fa-2x fa-circle-notch text-primary"></i>
                            </p>
                            <h1 class="h4 mb-1">
                                Requst Timeout
                            </h1>
                            <h2 class="h6 font-w400 text-muted mb-3">
                                The Recovery Link Has Been Used Already. Please Requst For Reset Password Again.
                            </h2>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- END Sign In Section -->
    </div>
</div>
{% endblock %}